* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
} 

.header .links,
.media-text .text {
    font-size: 18px;
    color: #e5e7eb;
}

.links ul {
    display: flex;
}

.media-object {
    padding: 20px;
    gap: 20px
}

.media-object img {
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
    min-height: 300px;
    min-width: 400px;
}

.media-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.media-text .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.random-info {
    display: flex;
    flex-direction: column;
    color: #1f2937;
}

.random-info .title {
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    width: 200px;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 5px solid #3882f6;
    
}

.image img {
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.call-to-action {
    display: flex;
}

.popup {
    display: flex;
}

.footer,
.header,
.media-object {
    display: flex;
    background-color: #1f2937;
}

.signup-button,
.popup {
    background-color: #3882f6;
}